<%include header.ejs %>
<div class="fenlei">
    <div class="fenlei_n" style="border-radius:5px;">
      <div class="menu-nav">
        <div class="menu-space">
          <div class="menu-nav-title">文档分类&nbsp;&nbsp;&nbsp;|</div>
          <div class="menu-nav-tags leibie" style=" width:1050px ">
            <a href="/list.html?p=0" >全部资源</a>
            <a href="/ppt.html?p=0" class="on">党课PPT模版</a>
            <a href="/shuzhi.html?p=0" >述职述廉报告</a>
            <a href="/dkdoc.html?p=0" >党课发言讲稿</a>
            <a href="/hetong.html?p=0" >标准合同协议</a>
            <a href="/xiaopin.html?p=0" >相声小品剧本</a>
            <a href="/jiancha.html?p=0" >对照检查材料</a>
            <a href="/zhongjie.html?p=0"  >工作总结报告</a>
            <a href="/shiji.html?p=0" >先进事迹材料</a>
            <a href="/xinde.html?p=0" >心得体会范文</a>
            </div>
        </div>
      </div>
    </div>
  </div>
        <div class="product">
          <div class="product_n">
            <div class="bt-body classify">
              <div class="main-body">
                <div class="bt-list ad-list" style="background-color: #e5e5e5; height:1380px;border-radius:5px;">
                  <ul class="clearfix sucai_list">

                        <div class="flow-box" id="flow-b" style="border-radius:3px; ">
                          <li class="flow-thumb" id="libox" >
                            <div class="hover-pop" data-isgood="0" onclick="window.location ='/p-111399422.html'" title="中小学期中考察家长会精品ppt带内容"  style=" cursor:pointer">
                                <img src="http://www.woc88.com/FileRoot4/2019-9\6\1f0bfb5f-b0ca-41d9-a3e7-47b34e36b0b7/mobliepic/1.png" alt="中小学期中考察家长会精品ppt带内容" title="中小学期中考察家长会精品ppt带内容" class="show_img"  style=" border: 1px solid #e5e5e5;width:278px;height:190px">
                                <p style=" margin-top:1px"><img src="http://www.woc88.com/FileRoot4/2019-9\6\1f0bfb5f-b0ca-41d9-a3e7-47b34e36b0b7/mobliepic/2.png" alt="中小学期中考察家长会精品ppt带内容" title="中小学期中考察家长会精品ppt带内容" class="show_img"  style="border: 1px solid #e5e5e5; width:278px;height:190px"></p>

                              <div class="pop-tit gradient-ver-wb clearfix">
                                <a onclick="return false;" href="javascript:;" ></a>
                              </div>
                              <div class="pop-bot gradient-ver-bw ">
                                <a  href="/i-111399422.html" class="xiazai"  >立即阅读</a></div>
                            </div>
                          </li>
                          <div class="flow-info2 nounderline">
                              <a href="/w-111399422.html" title="中小学期中考察家长会精品ppt带内容"><img src="http://www.woc88.com/images/ppt.png"  width="14px"   style="margin-bottom:-2px; margin-right:2px" />中小学期中考察家长会精品ppt...</a>
                              <a style=" float:right"><img src="/images/download1.png" style=" width:16px; margin:0px 2px -3px" />29</a>
                          </div>
                        </div>

                        <div class="flow-box" id="flow-b" style="border-radius:3px; ">
                          <li class="flow-thumb" id="libox" >
                            <div class="hover-pop" data-isgood="0" onclick="window.location ='/p-111399421.html'" title="职业生涯规划精品ppt带内容"  style=" cursor:pointer">
                                <img src="http://www.woc88.com/FileRoot4/2019-9\6\190afdfc-c2c0-42bd-8e59-d75c8d413d84/mobliepic/1.png" alt="职业生涯规划精品ppt带内容" title="职业生涯规划精品ppt带内容" class="show_img"  style=" border: 1px solid #e5e5e5;width:278px;height:190px">
                                <p style=" margin-top:1px"><img src="http://www.woc88.com/FileRoot4/2019-9\6\190afdfc-c2c0-42bd-8e59-d75c8d413d84/mobliepic/2.png" alt="职业生涯规划精品ppt带内容" title="职业生涯规划精品ppt带内容" class="show_img"  style="border: 1px solid #e5e5e5; width:278px;height:190px"></p>

                              <div class="pop-tit gradient-ver-wb clearfix">
                                <a onclick="return false;" href="javascript:;" ></a>
                              </div>
                              <div class="pop-bot gradient-ver-bw ">
                                <a  href="/i-111399421.html" class="xiazai"  >立即阅读</a></div>
                            </div>
                          </li>
                          <div class="flow-info2 nounderline">
                              <a href="/w-111399421.html" title="职业生涯规划精品ppt带内容"><img src="http://www.woc88.com/images/ppt.png"  width="14px"   style="margin-bottom:-2px; margin-right:2px" />职业生涯规划精品ppt带内容</a>
                              <a style=" float:right"><img src="/images/download1.png" style=" width:16px; margin:0px 2px -3px" />46</a>
                          </div>
                        </div>

                        <div class="flow-box" id="flow-b" style="border-radius:3px; ">
                          <li class="flow-thumb" id="libox" >
                            <div class="hover-pop" data-isgood="0" onclick="window.location ='/p-111399420.html'" title="职业病防治法宣传周宣传精品ppt带内容"  style=" cursor:pointer">
                                <img src="http://www.woc88.com/FileRoot4/2019-9\6\9ecdd45d-b448-420d-ae1f-77b6168a4a6a/mobliepic/1.png" alt="职业病防治法宣传周宣传精品ppt带内容" title="职业病防治法宣传周宣传精品ppt带内容" class="show_img"  style=" border: 1px solid #e5e5e5;width:278px;height:190px">
                                <p style=" margin-top:1px"><img src="http://www.woc88.com/FileRoot4/2019-9\6\9ecdd45d-b448-420d-ae1f-77b6168a4a6a/mobliepic/2.png" alt="职业病防治法宣传周宣传精品ppt带内容" title="职业病防治法宣传周宣传精品ppt带内容" class="show_img"  style="border: 1px solid #e5e5e5; width:278px;height:190px"></p>

                              <div class="pop-tit gradient-ver-wb clearfix">
                                <a onclick="return false;" href="javascript:;" ></a>
                              </div>
                              <div class="pop-bot gradient-ver-bw ">
                                <a  href="/i-111399420.html" class="xiazai"  >立即阅读</a></div>
                            </div>
                          </li>
                          <div class="flow-info2 nounderline">
                              <a href="/w-111399420.html" title="职业病防治法宣传周宣传精品ppt带内容"><img src="http://www.woc88.com/images/ppt.png"  width="14px"   style="margin-bottom:-2px; margin-right:2px" />职业病防治法宣传周宣传精品p...</a>
                              <a style=" float:right"><img src="/images/download1.png" style=" width:16px; margin:0px 2px -3px" />29</a>
                          </div>
                        </div>

                        <div class="flow-box" id="flow-b" style="border-radius:3px; ">
                          <li class="flow-thumb" id="libox" >
                            <div class="hover-pop" data-isgood="0" onclick="window.location ='/p-111399419.html'" title="幼儿道路交通安全精品ppt带内容"  style=" cursor:pointer">
                                <img src="http://www.woc88.com/FileRoot4/2019-9\6\4e177e8f-bb04-4534-bd23-4b63a2112ff2/mobliepic/1.png" alt="幼儿道路交通安全精品ppt带内容" title="幼儿道路交通安全精品ppt带内容" class="show_img"  style=" border: 1px solid #e5e5e5;width:278px;height:190px">
                                <p style=" margin-top:1px"><img src="http://www.woc88.com/FileRoot4/2019-9\6\4e177e8f-bb04-4534-bd23-4b63a2112ff2/mobliepic/2.png" alt="幼儿道路交通安全精品ppt带内容" title="幼儿道路交通安全精品ppt带内容" class="show_img"  style="border: 1px solid #e5e5e5; width:278px;height:190px"></p>

                              <div class="pop-tit gradient-ver-wb clearfix">
                                <a onclick="return false;" href="javascript:;" ></a>
                              </div>
                              <div class="pop-bot gradient-ver-bw ">
                                <a  href="/i-111399419.html" class="xiazai"  >立即阅读</a></div>
                            </div>
                          </li>
                          <div class="flow-info2 nounderline">
                              <a href="/w-111399419.html" title="幼儿道路交通安全精品ppt带内容"><img src="http://www.woc88.com/images/ppt.png"  width="14px"   style="margin-bottom:-2px; margin-right:2px" />幼儿道路交通安全精品ppt带内...</a>
                              <a style=" float:right"><img src="/images/download1.png" style=" width:16px; margin:0px 2px -3px" />22</a>
                          </div>
                        </div>

                        <div class="flow-box" id="flow-b" style="border-radius:3px; ">
                          <li class="flow-thumb" id="libox" >
                            <div class="hover-pop" data-isgood="0" onclick="window.location ='/p-111399418.html'" title="颐和园人教版教学课件精品ppt带内容"  style=" cursor:pointer">
                                <img src="http://www.woc88.com/FileRoot4/2019-9\6\a4865d3b-b82d-4bc3-9965-c9b7472eaa2c/mobliepic/1.png" alt="颐和园人教版教学课件精品ppt带内容" title="颐和园人教版教学课件精品ppt带内容" class="show_img"  style=" border: 1px solid #e5e5e5;width:278px;height:190px">
                                <p style=" margin-top:1px"><img src="http://www.woc88.com/FileRoot4/2019-9\6\a4865d3b-b82d-4bc3-9965-c9b7472eaa2c/mobliepic/2.png" alt="颐和园人教版教学课件精品ppt带内容" title="颐和园人教版教学课件精品ppt带内容" class="show_img"  style="border: 1px solid #e5e5e5; width:278px;height:190px"></p>

                              <div class="pop-tit gradient-ver-wb clearfix">
                                <a onclick="return false;" href="javascript:;" ></a>
                              </div>
                              <div class="pop-bot gradient-ver-bw ">
                                <a  href="/i-111399418.html" class="xiazai"  >立即阅读</a></div>
                            </div>
                          </li>
                          <div class="flow-info2 nounderline">
                              <a href="/w-111399418.html" title="颐和园人教版教学课件精品ppt带内容"><img src="http://www.woc88.com/images/ppt.png"  width="14px"   style="margin-bottom:-2px; margin-right:2px" />颐和园人教版教学课件精品ppt...</a>
                              <a style=" float:right"><img src="/images/download1.png" style=" width:16px; margin:0px 2px -3px" />23</a>
                          </div>
                        </div>

                        <div class="flow-box" id="flow-b" style="border-radius:3px; ">
                          <li class="flow-thumb" id="libox" >
                            <div class="hover-pop" data-isgood="0" onclick="window.location ='/p-111399417.html'" title="医疗质量与安全、纠纷防范与处理精品ppt带内容"  style=" cursor:pointer">
                                <img src="http://www.woc88.com/FileRoot4/2019-9\6\353cdf4a-5893-4d6b-a302-b6c50e03268a/mobliepic/1.png" alt="医疗质量与安全、纠纷防范与处理精品ppt带内容" title="医疗质量与安全、纠纷防范与处理精品ppt带内容" class="show_img"  style=" border: 1px solid #e5e5e5;width:278px;height:190px">
                                <p style=" margin-top:1px"><img src="http://www.woc88.com/FileRoot4/2019-9\6\353cdf4a-5893-4d6b-a302-b6c50e03268a/mobliepic/2.png" alt="医疗质量与安全、纠纷防范与处理精品ppt带内容" title="医疗质量与安全、纠纷防范与处理精品ppt带内容" class="show_img"  style="border: 1px solid #e5e5e5; width:278px;height:190px"></p>

                              <div class="pop-tit gradient-ver-wb clearfix">
                                <a onclick="return false;" href="javascript:;" ></a>
                              </div>
                              <div class="pop-bot gradient-ver-bw ">
                                <a  href="/i-111399417.html" class="xiazai"  >立即阅读</a></div>
                            </div>
                          </li>
                          <div class="flow-info2 nounderline">
                              <a href="/w-111399417.html" title="医疗质量与安全、纠纷防范与处理精品ppt带内容"><img src="http://www.woc88.com/images/ppt.png"  width="14px"   style="margin-bottom:-2px; margin-right:2px" />医疗质量与安全、纠纷防范与...</a>
                              <a style=" float:right"><img src="/images/download1.png" style=" width:16px; margin:0px 2px -3px" />62</a>
                          </div>
                        </div>

                        <div class="flow-box" id="flow-b" style="border-radius:3px; ">
                          <li class="flow-thumb" id="libox" >
                            <div class="hover-pop" data-isgood="0" onclick="window.location ='/p-111399416.html'" title="医疗纠纷、事故预防与处置程序精品ppt带内容"  style=" cursor:pointer">
                                <img src="http://www.woc88.com/FileRoot4/2019-9\6\eb3f4173-9c9f-4cb9-b9c3-be8135c6aa30/mobliepic/1.png" alt="医疗纠纷、事故预防与处置程序精品ppt带内容" title="医疗纠纷、事故预防与处置程序精品ppt带内容" class="show_img"  style=" border: 1px solid #e5e5e5;width:278px;height:190px">
                                <p style=" margin-top:1px"><img src="http://www.woc88.com/FileRoot4/2019-9\6\eb3f4173-9c9f-4cb9-b9c3-be8135c6aa30/mobliepic/2.png" alt="医疗纠纷、事故预防与处置程序精品ppt带内容" title="医疗纠纷、事故预防与处置程序精品ppt带内容" class="show_img"  style="border: 1px solid #e5e5e5; width:278px;height:190px"></p>

                              <div class="pop-tit gradient-ver-wb clearfix">
                                <a onclick="return false;" href="javascript:;" ></a>
                              </div>
                              <div class="pop-bot gradient-ver-bw ">
                                <a  href="/i-111399416.html" class="xiazai"  >立即阅读</a></div>
                            </div>
                          </li>
                          <div class="flow-info2 nounderline">
                              <a href="/w-111399416.html" title="医疗纠纷、事故预防与处置程序精品ppt带内容"><img src="http://www.woc88.com/images/ppt.png"  width="14px"   style="margin-bottom:-2px; margin-right:2px" />医疗纠纷、事故预防与处置程...</a>
                              <a style=" float:right"><img src="/images/download1.png" style=" width:16px; margin:0px 2px -3px" />31</a>
                          </div>
                        </div>

                        <div class="flow-box" id="flow-b" style="border-radius:3px; ">
                          <li class="flow-thumb" id="libox" >
                            <div class="hover-pop" data-isgood="0" onclick="window.location ='/p-111399415.html'" title="一个小村庄的故事人教版三年级教学课件精品ppt带内容"  style=" cursor:pointer">
                                <img src="http://www.woc88.com/FileRoot4/2019-9\6\b08d7b3d-50ce-4fb9-91bc-1baa54f9429b/mobliepic/1.png" alt="一个小村庄的故事人教版三年级教学课件精品ppt带内容" title="一个小村庄的故事人教版三年级教学课件精品ppt带内容" class="show_img"  style=" border: 1px solid #e5e5e5;width:278px;height:190px">
                                <p style=" margin-top:1px"><img src="http://www.woc88.com/FileRoot4/2019-9\6\b08d7b3d-50ce-4fb9-91bc-1baa54f9429b/mobliepic/2.png" alt="一个小村庄的故事人教版三年级教学课件精品ppt带内容" title="一个小村庄的故事人教版三年级教学课件精品ppt带内容" class="show_img"  style="border: 1px solid #e5e5e5; width:278px;height:190px"></p>

                              <div class="pop-tit gradient-ver-wb clearfix">
                                <a onclick="return false;" href="javascript:;" ></a>
                              </div>
                              <div class="pop-bot gradient-ver-bw ">
                                <a  href="/i-111399415.html" class="xiazai"  >立即阅读</a></div>
                            </div>
                          </li>
                          <div class="flow-info2 nounderline">
                              <a href="/w-111399415.html" title="一个小村庄的故事人教版三年级教学课件精品ppt带内容"><img src="http://www.woc88.com/images/ppt.png"  width="14px"   style="margin-bottom:-2px; margin-right:2px" />一个小村庄的故事人教版三年...</a>
                              <a style=" float:right"><img src="/images/download1.png" style=" width:16px; margin:0px 2px -3px" />19</a>
                          </div>
                        </div>

                        <div class="flow-box" id="flow-b" style="border-radius:3px; ">
                          <li class="flow-thumb" id="libox" >
                            <div class="hover-pop" data-isgood="0" onclick="window.location ='/p-111399414.html'" title="研发人员法律知识培训精品ppt带内容"  style=" cursor:pointer">
                                <img src="http://www.woc88.com/FileRoot4/2019-9\6\7e6b99b3-d7cb-484c-80a5-fbb95afcd8ce/mobliepic/1.png" alt="研发人员法律知识培训精品ppt带内容" title="研发人员法律知识培训精品ppt带内容" class="show_img"  style=" border: 1px solid #e5e5e5;width:278px;height:190px">
                                <p style=" margin-top:1px"><img src="http://www.woc88.com/FileRoot4/2019-9\6\7e6b99b3-d7cb-484c-80a5-fbb95afcd8ce/mobliepic/2.png" alt="研发人员法律知识培训精品ppt带内容" title="研发人员法律知识培训精品ppt带内容" class="show_img"  style="border: 1px solid #e5e5e5; width:278px;height:190px"></p>

                              <div class="pop-tit gradient-ver-wb clearfix">
                                <a onclick="return false;" href="javascript:;" ></a>
                              </div>
                              <div class="pop-bot gradient-ver-bw ">
                                <a  href="/i-111399414.html" class="xiazai"  >立即阅读</a></div>
                            </div>
                          </li>
                          <div class="flow-info2 nounderline">
                              <a href="/w-111399414.html" title="研发人员法律知识培训精品ppt带内容"><img src="http://www.woc88.com/images/ppt.png"  width="14px"   style="margin-bottom:-2px; margin-right:2px" />研发人员法律知识培训精品ppt...</a>
                              <a style=" float:right"><img src="/images/download1.png" style=" width:16px; margin:0px 2px -3px" />28</a>
                          </div>
                        </div>

                        <div class="flow-box" id="flow-b" style="border-radius:3px; ">
                          <li class="flow-thumb" id="libox" >
                            <div class="hover-pop" data-isgood="0" onclick="window.location ='/p-111399413.html'" title="研发人员法律知识精品ppt带内容"  style=" cursor:pointer">
                                <img src="http://www.woc88.com/FileRoot4/2019-9\6\48e69f9a-6201-45b4-9a20-bb0a1d9b0359/mobliepic/1.png" alt="研发人员法律知识精品ppt带内容" title="研发人员法律知识精品ppt带内容" class="show_img"  style=" border: 1px solid #e5e5e5;width:278px;height:190px">
                                <p style=" margin-top:1px"><img src="http://www.woc88.com/FileRoot4/2019-9\6\48e69f9a-6201-45b4-9a20-bb0a1d9b0359/mobliepic/2.png" alt="研发人员法律知识精品ppt带内容" title="研发人员法律知识精品ppt带内容" class="show_img"  style="border: 1px solid #e5e5e5; width:278px;height:190px"></p>

                              <div class="pop-tit gradient-ver-wb clearfix">
                                <a onclick="return false;" href="javascript:;" ></a>
                              </div>
                              <div class="pop-bot gradient-ver-bw ">
                                <a  href="/i-111399413.html" class="xiazai"  >立即阅读</a></div>
                            </div>
                          </li>
                          <div class="flow-info2 nounderline">
                              <a href="/w-111399413.html" title="研发人员法律知识精品ppt带内容"><img src="http://www.woc88.com/images/ppt.png"  width="14px"   style="margin-bottom:-2px; margin-right:2px" />研发人员法律知识精品ppt带内...</a>
                              <a style=" float:right"><img src="/images/download1.png" style=" width:16px; margin:0px 2px -3px" />28</a>
                          </div>
                        </div>

                        <div class="flow-box" id="flow-b" style="border-radius:3px; ">
                          <li class="flow-thumb" id="libox" >
                            <div class="hover-pop" data-isgood="0" onclick="window.location ='/p-111399412.html'" title="学校食品安全与营养健康精品ppt带内容"  style=" cursor:pointer">
                                <img src="http://www.woc88.com/FileRoot4/2019-9\6\3d731680-1040-403b-b753-923d94d6f240/mobliepic/1.png" alt="学校食品安全与营养健康精品ppt带内容" title="学校食品安全与营养健康精品ppt带内容" class="show_img"  style=" border: 1px solid #e5e5e5;width:278px;height:190px">
                                <p style=" margin-top:1px"><img src="http://www.woc88.com/FileRoot4/2019-9\6\3d731680-1040-403b-b753-923d94d6f240/mobliepic/2.png" alt="学校食品安全与营养健康精品ppt带内容" title="学校食品安全与营养健康精品ppt带内容" class="show_img"  style="border: 1px solid #e5e5e5; width:278px;height:190px"></p>

                              <div class="pop-tit gradient-ver-wb clearfix">
                                <a onclick="return false;" href="javascript:;" ></a>
                              </div>
                              <div class="pop-bot gradient-ver-bw ">
                                <a  href="/i-111399412.html" class="xiazai"  >立即阅读</a></div>
                            </div>
                          </li>
                          <div class="flow-info2 nounderline">
                              <a href="/w-111399412.html" title="学校食品安全与营养健康精品ppt带内容"><img src="http://www.woc88.com/images/ppt.png"  width="14px"   style="margin-bottom:-2px; margin-right:2px" />学校食品安全与营养健康精品p...</a>
                              <a style=" float:right"><img src="/images/download1.png" style=" width:16px; margin:0px 2px -3px" />38</a>
                          </div>
                        </div>

                        <div class="flow-box" id="flow-b" style="border-radius:3px; ">
                          <li class="flow-thumb" id="libox" >
                            <div class="hover-pop" data-isgood="0" onclick="window.location ='/p-111399411.html'" title="消费者权益日精品ppt带内容"  style=" cursor:pointer">
                                <img src="http://www.woc88.com/FileRoot4/2019-9\6\901554b6-8bdf-4925-8651-4ba6ddd827b3/mobliepic/1.png" alt="消费者权益日精品ppt带内容" title="消费者权益日精品ppt带内容" class="show_img"  style=" border: 1px solid #e5e5e5;width:278px;height:190px">
                                <p style=" margin-top:1px"><img src="http://www.woc88.com/FileRoot4/2019-9\6\901554b6-8bdf-4925-8651-4ba6ddd827b3/mobliepic/2.png" alt="消费者权益日精品ppt带内容" title="消费者权益日精品ppt带内容" class="show_img"  style="border: 1px solid #e5e5e5; width:278px;height:190px"></p>

                              <div class="pop-tit gradient-ver-wb clearfix">
                                <a onclick="return false;" href="javascript:;" ></a>
                              </div>
                              <div class="pop-bot gradient-ver-bw ">
                                <a  href="/i-111399411.html" class="xiazai"  >立即阅读</a></div>
                            </div>
                          </li>
                          <div class="flow-info2 nounderline">
                              <a href="/w-111399411.html" title="消费者权益日精品ppt带内容"><img src="http://www.woc88.com/images/ppt.png"  width="14px"   style="margin-bottom:-2px; margin-right:2px" />消费者权益日精品ppt带内容</a>
                              <a style=" float:right"><img src="/images/download1.png" style=" width:16px; margin:0px 2px -3px" />23</a>
                          </div>
                        </div>

                      </ul>
                </div>
              </div>
            </div>
            <div class="fenye">
              <a href="/ppt--1.html">上一页</a>
              <a href="/ppt.html?p=1" >1</a>
              <a href="/ppt.html?p=2">2</a>
              <a href="/ppt.html?p=3">3</a>
              <a href="/ppt.html?p=4">4</a>
              <a href="/ppt.html?p=5">5</a>
              <a href="/ppt.html?p=6" >6</a>
              <a href="/ppt.html?p=7">7</a>
              <a href="/ppt.html?p=8">8</a>
              <a href="/ppt.html?p=9">9</a>
              <a href="/ppt.html?p=10">10</a>
              <a "style='display:none'>...</a>
              <a href="/ppt-0.html"style='display:none'>0</a>
              <a href="/ppt-1.html">下一页</a></div>
          </div>
        </div>
      </div>
<%include footer.ejs %>