
</div>
<div class="wendang">
    <div class="wendang_n">
      <h5>淘文宝·文档智能在线AI生成</h5>
      <table>
        <tr>
          <td align="center"><p><img src="/images/new_footer_item_1.png" style=" margin-bottom:-30px" /> 精品文档模板</p></td>
          <td align="center"><p><img src="/images/new_footer_item_2.png" style=" margin-bottom:-30px" / /> 在线免费阅读</p></td>
          <td align="center"><p><img src="/images/new_footer_item_3.png" style=" margin-bottom:-30px" / /> 所见即所得</p></td>
          <td align="center"><p><img src="/images/new_footer_item_4.png" style=" margin-bottom:-30px" / /> 百万注册会员</p></td>
        </tr>
      </table>
      <div  style=" height:0px ; overflow:hidden">
        <a href="/tag/A/"  target="_blank">A</a>
        <a href="/tag/B/" target="_blank">B</a>
        <a href="/tag/C/" target="_blank">C</a>
        <a href="/tag/D/" target="_blank">D</a>
        <a href="/tag/E/" target="_blank">E</a>
        <a href="/tag/F/" target="_blank">F</a>
        <a href="/tag/G/" target="_blank">G</a>
        <a href="/tag/H/" target="_blank">H</a>
        <a href="/tag/I/" target="_blank">I</a>
        <a href="/tag/J/" target="_blank">J</a>
        <a href="/tag/K/" target="_blank">K</a>
        <a href="/tag/L/" target="_blank">L</a>
        <a href="/tag/M/" target="_blank">M</a>
        <a href="/tag/N/" target="_blank">N</a>
        <a href="/tag/O/" target="_blank">O</a>
        <a href="/tag/P/" target="_blank">P</a>
        <a href="/tag/Q/" target="_blank">Q</a>
        <a href="/tag/R/" target="_blank">R</a>
        <a href="/tag/S/" target="_blank">S</a>
        <a href="/tag/T/" target="_blank">T</a>
        <a href="/tag/U/" target="_blank">U</a>
        <a href="/tag/V/" target="_blank">V</a>
        <a href="/tag/W/" target="_blank">W</a>
        <a href="/tag/X/" target="_blank">X</a>
        <a href="/tag/Y/" target="_blank">Y</a>
        <a href="/tag/Z/" target="_blank">Z</a>
       </div>
    </div>
  </div>
  <!-- 底部栏 -->
  <div class="footer">
    <div class="footer_bq">
        <img src="/images/footico1.png">网站备案：苏ICP备43002375号-1
        <br />©copyright 2013-2023 淘文宝版权所有
      </div>
  </div>
</body>
</html>