<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
 <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
 <title>淘文宝-AI学习体会|智能思想心得|教育心得|领导讲话|重要文章</title>
 <meta name="keywords" content="淘文宝, 学习体会, 思想心得, 教育心得, 领导讲话, 重要文章" />
 <meta name="description" content="淘文宝, 学习体会, 思想心得, 教育心得, 领导讲话, 重要文章" />
 <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
 <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
</head>
  <body >
    <!-- 导航区 -->
    <div class="header">
       <div class="header_nav">
          <div class="header_nav_n">
		   	<a class="logo">
			   <img src="/images/logo.png" alt="">
			</a>
            <div class="login">
				<a href="/login" class="right_kong btn2" >用户登录</a>
				<a href="/reg" class="btn2">免费注册</a>
		   </div>
		 </div>
		 <div class="nav-container">
			<ul class="navs">
				<div class="item"><a href="/category?type=1" >资源</a></div>
				<div class="item"><a href="/category?type=2" >心得</a></div>
				<div class="item"><a href="/category?type=3" >述职报告</a></div>
				<div class="item"><a href="/category?type=4" >党课讲稿</a></div>
				<div class="item"><a href="/category?type=5" >教育体会</a></div>
				<div class="item"><a href="/category?type=6" >领导讲话</a></div>
				<div class="item"><a href="/category?type=7" >对照检查</a></div>
				<div class="item"><a href="/category?type=8" >学习进行时</a></div>
				<li class="cls"></li>
			</ul>
		 </div>

       </div>
     </div>
    <!-- 内容区 -->
    <div class="container">
      <div class="banner2_b">
        <div id="AppSearch" class="sousuo">
          <div id="wp3Top" class="wp-search-wrapper officesearch">
            <div class="wp-search-box2 clearfix">
              <input type="text" placeholder="搜索文档请在这里输入关键字查询..." class="fl"  name="q"  id="q1"/>
                  <a href="javascript:so();" id="A2" rel="nofollow" class="fl search-btn search-but model"></a>
            </div>
          </div>
        </div>
	  </div>