<%include header.ejs %>
    <div class="product">

	<div class="container">
		<div class="wrapper">
			<div class="screen-first clearfix">
				<div class="directory">

						<div class="user-info-top" style=" background:url(/images/8-15.png) no-repeat center;border-radius:55px;">
			               <div  style=" height:80px; margin:15px 15px"></div>
			    	</div>
					<div class="cover-bg"></div>
					<div class="user-stand"><div style="background:url(/images/gesi.png) no-repeat center;  height:35px; "></div></div>
					<div class="user-tt">
					 <a   class="up-vip">加入我们</a><a    class="apply-certify">接单赚钱</a>
					</div>

				</div>
				<div class="banner" id="lb" style="background:url(/images/index1.png)  no-repeat ;border-radius:5px;background-size:663px 328px; cursor:pointer">
					<div class="bannerbox"><div class="img imgz" style="background:url(/images/index1.png) no-repeat ; height:330px;  background-size:663px 328px " id="lb1"></div></div>
			    </div>

			    <div class="user-box">
				 <div class="ppt-introduce-box" >
                   <p>注册VIP就会获得</p>
                   <ul>
                    <li>下载低至 1 分钱</li>
                    <li>免费文档不限量</li>
                    <li>AI自动生成</li>
                    <li>保证全网唯一</li></ul>
                   <a class="wp-dl-btn" href="/register">立即注册</a>
                </div>
			   </div>
		    </div>

			<div class="currency" >
				<div class="maybelike">
					<div class="currency-title">
							<h3><img src="/images/tjimg.png"  style=" margin-left:20px" /></h3>
					</div>

					<div class="book-like-con" style=" height:265px; ">

					    <div class="books-each">
						  <div class="bookcover-bd" >
						      <a class="bookcover"  href="/w-1813929.html" target="_blank"><img src="/images/count1.gif" /></a>
						  </div>
						  <a class="books-title" href="/c-1813929.html" target="_blank">（终稿）亿元汽车零部件项目立项申报可行性材料（正本）</a>
						</div>

					    <div class="books-each">
						  <div class="bookcover-bd" >
						      <a class="bookcover"  href="/w-1813928.html" target="_blank"><img src="/images/count2.gif" /></a>
						  </div>
						  <a class="books-title" href="/c-1813928.html" target="_blank">（终稿）亿件高档针织成衣项目立项申报可行性材料（正本）</a>
						</div>

					    <div class="books-each">
						  <div class="bookcover-bd" >
						      <a class="bookcover"  href="/w-1813927.html" target="_blank"><img src="/images/count3.gif" /></a>
						  </div>
						  <a class="books-title" href="/c-1813927.html" target="_blank">（终稿）亿件时尚色釉炻瓷技改项目立项申报可行性材料（正本）</a>
						</div>

					    <div class="books-each">
						  <div class="bookcover-bd" >
						      <a class="bookcover"  href="/w-1813926.html" target="_blank"><img src="/images/count4.gif" /></a>
						  </div>
						  <a class="books-title" href="/c-1813926.html" target="_blank">（终稿）亿件时尚色釉炻瓷技改项目工程项目立项申报可行性材料（正本）</a>
						</div>

					    <div class="books-each">
						  <div class="bookcover-bd" >
						      <a class="bookcover"  href="/w-1813925.html" target="_blank"><img src="/images/count5.gif" /></a>
						  </div>
						  <a class="books-title" href="/c-1813925.html" target="_blank">（终稿）亿个瓦楞纸箱生产项目立项申报可行性材料（正本）</a>
						</div>

					</div>
				</div>
				<ul class="index-chanel">
					<li><a href="/shuzhi.html?p=0"><img src="/images/in-chan2.png">述职报告</a></li>
					<li><a href="/dkdoc.html?p=0"><img src="/images/in-chan3.png">党课讲稿</a></li>
					<li><a href="/hetong.html?p=0"><img src="/images/in-chan4.png">合同模版</a></li>
					<li><a href="/ppt.html?p=0"><img src="/images/in-chan1.png">党课PPT</a></li>
					<li><a href="/jiancha.html?p=0"><img src="/images/in-chan6.png">对照检查</a></li>
					<li><a href="/xiaopin.html?p=0"><img src="/images/in-chan5.png">小品剧本</a></li>
				</ul>
			</div>
			<div class="currency">
				<div class="currency-con">
					<div class="currency-title">
						<h3>精品推荐</h3>

					</div>
					<div class="currency-box" style="display: block;">
						<div class="books-free-line1" style=" height:646px;  ">

						   <div  class="books-free">
						      <div class="bookcover-bd" onmousemove="this.style.border='solid 1px #000000'"   onmouseout="this.style.border='solid 1px #ddd'">
						        <span style=" padding:15px 15px">
						         <a class="bookcover"  href="/w-11407699.html" target="_blank">
						            <img   src="/images/new1.gif"/>
						         </a>
						        </span>
						       </div>
						       <a class="books-title-nowrap" href="/c-11407699.html" target="_blank">喜来登酒店-喜来登员工手册（DOC+42页）.doc</a>

						   </div>

						   <div  class="books-free">
						      <div class="bookcover-bd" onmousemove="this.style.border='solid 1px #000000'"   onmouseout="this.style.border='solid 1px #ddd'">
						        <span style=" padding:15px 15px">
						         <a class="bookcover"  href="/w-11407700.html" target="_blank">
						            <img   src="/images/new2.gif"/>
						         </a>
						        </span>
						       </div>
						       <a class="books-title-nowrap" href="/c-11407700.html" target="_blank">下河清乡环境整治项目招标文件.doc</a>

						   </div>

						   <div  class="books-free">
						      <div class="bookcover-bd" onmousemove="this.style.border='solid 1px #000000'"   onmouseout="this.style.border='solid 1px #ddd'">
						        <span style=" padding:15px 15px">
						         <a class="bookcover"  href="/w-11407701.html" target="_blank">
						            <img   src="/images/new3.gif"/>
						         </a>
						        </span>
						       </div>
						       <a class="books-title-nowrap" href="/c-11407701.html" target="_blank">下沙网站项目商业计划书.docx</a>

						   </div>

						   <div  class="books-free">
						      <div class="bookcover-bd" onmousemove="this.style.border='solid 1px #000000'"   onmouseout="this.style.border='solid 1px #ddd'">
						        <span style=" padding:15px 15px">
						         <a class="bookcover"  href="/w-11407702.html" target="_blank">
						            <img   src="/images/new4.gif"/>
						         </a>
						        </span>
						       </div>
						       <a class="books-title-nowrap" href="/c-11407702.html" target="_blank">夏津实验中学2016-2017年七年级下月考数学试卷(3月)含解析.doc</a>

						   </div>

						   <div  class="books-free">
						      <div class="bookcover-bd" onmousemove="this.style.border='solid 1px #000000'"   onmouseout="this.style.border='solid 1px #ddd'">
						        <span style=" padding:15px 15px">
						         <a class="bookcover"  href="/w-11407703.html" target="_blank">
						            <img   src="/images/new5.gif"/>
						         </a>
						        </span>
						       </div>
						       <a class="books-title-nowrap" href="/c-11407703.html" target="_blank">夏威夷温泉spa会所洗浴部《温泉洗浴管理手册》.doc</a>

						   </div>

						   <div  class="books-free">
						      <div class="bookcover-bd" onmousemove="this.style.border='solid 1px #000000'"   onmouseout="this.style.border='solid 1px #ddd'">
						        <span style=" padding:15px 15px">
						         <a class="bookcover"  href="/w-11407704.html" target="_blank">
						            <img   src="/images/new6.gif"/>
						         </a>
						        </span>
						       </div>
						       <a class="books-title-nowrap" href="/c-11407704.html" target="_blank">夏邑地块可行性报告1839435121.doc</a>

						   </div>

						   <div  class="books-free">
						      <div class="bookcover-bd" onmousemove="this.style.border='solid 1px #000000'"   onmouseout="this.style.border='solid 1px #ddd'">
						        <span style=" padding:15px 15px">
						         <a class="bookcover"  href="/w-11407705.html" target="_blank">
						            <img   src="/images/new7.gif"/>
						         </a>
						        </span>
						       </div>
						       <a class="books-title-nowrap" href="/c-11407705.html" target="_blank">厦金航线气象保障服务系统建设可行性研究报告.doc</a>

						   </div>

						   <div  class="books-free">
						      <div class="bookcover-bd" onmousemove="this.style.border='solid 1px #000000'"   onmouseout="this.style.border='solid 1px #ddd'">
						        <span style=" padding:15px 15px">
						         <a class="bookcover"  href="/w-11407706.html" target="_blank">
						            <img   src="/images/new8.gif"/>
						         </a>
						        </span>
						       </div>
						       <a class="books-title-nowrap" href="/c-11407706.html" target="_blank">厦门长城盛世家园运作管理.doc</a>

						   </div>

						   <div  class="books-free">
						      <div class="bookcover-bd" onmousemove="this.style.border='solid 1px #000000'"   onmouseout="this.style.border='solid 1px #ddd'">
						        <span style=" padding:15px 15px">
						         <a class="bookcover"  href="/w-11407707.html" target="_blank">
						            <img   src="/images/new9.gif"/>
						         </a>
						        </span>
						       </div>
						       <a class="books-title-nowrap" href="/c-11407707.html" target="_blank">厦门某建材基地一期沥青混凝土工程可行性研究报告.doc</a>

						   </div>

						   <div  class="books-free">
						      <div class="bookcover-bd" onmousemove="this.style.border='solid 1px #000000'"   onmouseout="this.style.border='solid 1px #ddd'">
						        <span style=" padding:15px 15px">
						         <a class="bookcover"  href="/w-11407708.html" target="_blank">
						            <img   src="/images/new10.gif"/>
						         </a>
						        </span>
						       </div>
						       <a class="books-title-nowrap" href="/c-11407708.html" target="_blank">厦门市2017届高中毕业班第一次质量检查数学试题(理)含答案.doc</a>

						   </div>

						</div>
					</div>

				</div>
				<div class="currency-side">
				   <h3 id="show_doc_type"><a class="up-vip-min"  href="http://ppt.woc88.com" style=" cursor:pointer">进入专题</a>PPT模版</h3>
				   <ul class="vip-free">

					 <li>
					    <p class="s-d-name"><img src="/images/ppt.png" alt=""><a href="/c-111399422.html" target="_blank">中小学期中考察家长会精品ppt带内容</a></p>
					    <div class="hdoc-des"><p class="hdoc-lev">星级：<i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i>
					    <i class="iconfont current"></i></p><span class="hdoc-paper"><img src="/images/download1.png" style=" width:16px; margin:0px 2px -3px" />29</span></div>
					</li>

					 <li>
					    <p class="s-d-name"><img src="/images/ppt.png" alt=""><a href="/c-111399421.html" target="_blank">职业生涯规划精品ppt带内容</a></p>
					    <div class="hdoc-des"><p class="hdoc-lev">星级：<i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i>
					    <i class="iconfont current"></i></p><span class="hdoc-paper"><img src="/images/download1.png" style=" width:16px; margin:0px 2px -3px" />46</span></div>
					</li>

					 <li>
					    <p class="s-d-name"><img src="/images/ppt.png" alt=""><a href="/c-111399420.html" target="_blank">职业病防治法宣传周宣传精品ppt带内容</a></p>
					    <div class="hdoc-des"><p class="hdoc-lev">星级：<i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i>
					    <i class="iconfont current"></i></p><span class="hdoc-paper"><img src="/images/download1.png" style=" width:16px; margin:0px 2px -3px" />29</span></div>
					</li>

					 <li>
					    <p class="s-d-name"><img src="/images/ppt.png" alt=""><a href="/c-111399419.html" target="_blank">幼儿道路交通安全精品ppt带内容</a></p>
					    <div class="hdoc-des"><p class="hdoc-lev">星级：<i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i>
					    <i class="iconfont current"></i></p><span class="hdoc-paper"><img src="/images/download1.png" style=" width:16px; margin:0px 2px -3px" />22</span></div>
					</li>

					 <li>
					    <p class="s-d-name"><img src="/images/ppt.png" alt=""><a href="/c-111399418.html" target="_blank">颐和园人教版教学课件精品ppt带内容</a></p>
					    <div class="hdoc-des"><p class="hdoc-lev">星级：<i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i>
					    <i class="iconfont current"></i></p><span class="hdoc-paper"><img src="/images/download1.png" style=" width:16px; margin:0px 2px -3px" />23</span></div>
					</li>

					 <li>
					    <p class="s-d-name"><img src="/images/ppt.png" alt=""><a href="/c-111399417.html" target="_blank">医疗质量与安全、纠纷防范与处理精品ppt带内容</a></p>
					    <div class="hdoc-des"><p class="hdoc-lev">星级：<i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i>
					    <i class="iconfont current"></i></p><span class="hdoc-paper"><img src="/images/download1.png" style=" width:16px; margin:0px 2px -3px" />62</span></div>
					</li>

					 <li>
					    <p class="s-d-name"><img src="/images/ppt.png" alt=""><a href="/c-111399416.html" target="_blank">医疗纠纷、事故预防与处置程序精品ppt带内容</a></p>
					    <div class="hdoc-des"><p class="hdoc-lev">星级：<i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i>
					    <i class="iconfont current"></i></p><span class="hdoc-paper"><img src="/images/download1.png" style=" width:16px; margin:0px 2px -3px" />31</span></div>
					</li>

					 <li>
					    <p class="s-d-name"><img src="/images/ppt.png" alt=""><a href="/c-111399415.html" target="_blank">一个小村庄的故事人教版三年级教学课件精品ppt带内容</a></p>
					    <div class="hdoc-des"><p class="hdoc-lev">星级：<i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i>
					    <i class="iconfont current"></i></p><span class="hdoc-paper"><img src="/images/download1.png" style=" width:16px; margin:0px 2px -3px" />19</span></div>
					</li>

					 <li>
					    <p class="s-d-name"><img src="/images/ppt.png" alt=""><a href="/c-111399414.html" target="_blank">研发人员法律知识培训精品ppt带内容</a></p>
					    <div class="hdoc-des"><p class="hdoc-lev">星级：<i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i>
					    <i class="iconfont current"></i></p><span class="hdoc-paper"><img src="/images/download1.png" style=" width:16px; margin:0px 2px -3px" />28</span></div>
					</li>

					 <li>
					    <p class="s-d-name"><img src="/images/ppt.png" alt=""><a href="/c-111399413.html" target="_blank">研发人员法律知识精品ppt带内容</a></p>
					    <div class="hdoc-des"><p class="hdoc-lev">星级：<i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i>
					    <i class="iconfont current"></i></p><span class="hdoc-paper"><img src="/images/download1.png" style=" width:16px; margin:0px 2px -3px" />28</span></div>
					</li>

				   </ul>
				</div>

			</div>
			<div class="currency">
				<div class="currency-con">
					<div class="currency-title">
						<h3>猜您喜欢</h3>

					</div>
					<div class="currency-box" style="display: block;">
						<div class="books-free-line1">

						   <div  class="books-free">
						      <div class="bookcover-bd">
						        <span style=" padding:15px 15px">
						         <a class="bookcover" href="/w-111401491.html" target="_blank"><img src="/images/new1.gif"/></a>
						        </span>
						       </div>
						       <a class="books-title-nowrap" href="/c-111401491.html" target="_blank">不忘初心牢记使命主题教育调研成果交流会上的讲话（精品）</a>
						   </div>

						   <div  class="books-free">
						      <div class="bookcover-bd">
						        <span style=" padding:15px 15px">
						         <a class="bookcover" href="/w-111401490.html" target="_blank"><img src="/images/new2.gif"/></a>
						        </span>
						       </div>
						       <a class="books-title-nowrap" href="/c-111401490.html" target="_blank">不忘初心牢记使命主题教育工作自评报告（XX局版）</a>
						   </div>

						   <div  class="books-free">
						      <div class="bookcover-bd">
						        <span style=" padding:15px 15px">
						         <a class="bookcover" href="/w-111401489.html" target="_blank"><img src="/images/new3.gif"/></a>
						        </span>
						       </div>
						       <a class="books-title-nowrap" href="/c-111401489.html" target="_blank">不忘初心牢记使命领导班子民主生活会情况报告（精品）</a>
						   </div>

						   <div  class="books-free">
						      <div class="bookcover-bd">
						        <span style=" padding:15px 15px">
						         <a class="bookcover" href="/w-111401488.html" target="_blank"><img src="/images/new4.gif"/></a>
						        </span>
						       </div>
						       <a class="books-title-nowrap" href="/c-111401488.html" target="_blank">《朱德精神党课讲稿发言稿》范文版（共4篇）</a>
						   </div>

						   <div  class="books-free">
						      <div class="bookcover-bd">
						        <span style=" padding:15px 15px">
						         <a class="bookcover" href="/w-111401487.html" target="_blank"><img src="/images/new5.gif"/></a>
						        </span>
						       </div>
						       <a class="books-title-nowrap" href="/c-111401487.html" target="_blank">《任弼时精神党课讲稿发言稿》范文版（共4篇）</a>
						   </div>

						   <div  class="books-free">
						      <div class="bookcover-bd">
						        <span style=" padding:15px 15px">
						         <a class="bookcover" href="/w-111401486.html" target="_blank"><img src="/images/new6.gif"/></a>
						        </span>
						       </div>
						       <a class="books-title-nowrap" href="/c-111401486.html" target="_blank">《彭德怀精神党课讲稿发言稿》范文版（共4篇）</a>
						   </div>

						   <div  class="books-free">
						      <div class="bookcover-bd">
						        <span style=" padding:15px 15px">
						         <a class="bookcover" href="/w-111401485.html" target="_blank"><img src="/images/new7.gif"/></a>
						        </span>
						       </div>
						       <a class="books-title-nowrap" href="/c-111401485.html" target="_blank">《林业局xx书记抓党建述职报告》范文版（共4篇）</a>
						   </div>

						   <div  class="books-free">
						      <div class="bookcover-bd">
						        <span style=" padding:15px 15px">
						         <a class="bookcover" href="/w-111401484.html" target="_blank"><img src="/images/new8.gif"/></a>
						        </span>
						       </div>
						       <a class="books-title-nowrap" href="/c-111401484.html" target="_blank">《交通局xx书记抓党建述职报告》范文版（共4篇）</a>
						   </div>

						   <div  class="books-free">
						      <div class="bookcover-bd">
						        <span style=" padding:15px 15px">
						         <a class="bookcover" href="/w-111401483.html" target="_blank"><img src="/images/new9.gif"/></a>
						        </span>
						       </div>
						       <a class="books-title-nowrap" href="/c-111401483.html" target="_blank">《公安局xx书记抓党建述职报告》范文版（共4篇）</a>
						   </div>

						   <div  class="books-free">
						      <div class="bookcover-bd">
						        <span style=" padding:15px 15px">
						         <a class="bookcover" href="/w-111401482.html" target="_blank"><img src="/images/new10.gif"/></a>
						        </span>
						       </div>
						       <a class="books-title-nowrap" href="/c-111401482.html" target="_blank">《工商局xx抓党建述职报告》范文版（共4篇）</a>
						   </div>

						</div>
					</div>
				</div>
				<div class="currency-side">
				   <h3 id="H1"><a class="up-vip-min" onclick="javascript:location.reload();" target="_blank" style=" cursor:pointer">换一组 <i class="iconfont"></i></a>热门文档</h3>

					<ul class="vip-free">

					    <li>
					    <p class="s-d-name">
					    <img src="/images/DOC.png" alt="">
					    <a href="/c-1765035.html" target="_blank">（新增项目）民族文化创意产业园项目可行性方案（项目计划书）</a>
					     </p>
					    <div class="hdoc-des"><p class="hdoc-lev">星级：<i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i>
					    <i class="iconfont current"></i></p><span class="hdoc-paper">91页</span></div>
					  </li>

					    <li>
					    <p class="s-d-name">
					    <img src="/images/DOC.png" alt="">
					    <a href="/c-68706.html" target="_blank">芒山景区道路绿化建设项目建议书(word文档)</a>
					     </p>
					    <div class="hdoc-des"><p class="hdoc-lev">星级：<i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i>
					    <i class="iconfont current"></i></p><span class="hdoc-paper">114页</span></div>
					  </li>

					    <li>
					    <p class="s-d-name">
					    <img src="/images/DOC.png" alt="">
					    <a href="/c-2700846.html" target="_blank">医院感染管理职责及制度(全)</a>
					     </p>
					    <div class="hdoc-des"><p class="hdoc-lev">星级：<i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i>
					    <i class="iconfont current"></i></p><span class="hdoc-paper">53页</span></div>
					  </li>

					    <li>
					    <p class="s-d-name">
					    <img src="/images/pdf.png" alt="">
					    <a href="/c-10023654.html" target="_blank">硬式内镜清洗消毒灭菌技术(胡国庆)（最新）</a>
					     </p>
					    <div class="hdoc-des"><p class="hdoc-lev">星级：<i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i>
					    <i class="iconfont current"></i></p><span class="hdoc-paper">22页</span></div>
					  </li>

					    <li>
					    <p class="s-d-name">
					    <img src="/images/ppt.png" alt="">
					    <a href="/c-111395555.html" target="_blank">守初心，担使命，找差距，抓落实深入开展“不忘初心、牢记使命”主题教育党课PPT讲稿课件 </a>
					     </p>
					    <div class="hdoc-des"><p class="hdoc-lev">星级：<i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i>
					    <i class="iconfont current"></i></p><span class="hdoc-paper">30页</span></div>
					  </li>

					    <li>
					    <p class="s-d-name">
					    <img src="/images/DOC.png" alt="">
					    <a href="/c-11467379.html" target="_blank">折人教版小学数学三年级上册期末试卷四十二套完整版</a>
					     </p>
					    <div class="hdoc-des"><p class="hdoc-lev">星级：<i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i>
					    <i class="iconfont current"></i></p><span class="hdoc-paper">149页</span></div>
					  </li>

					    <li>
					    <p class="s-d-name">
					    <img src="/images/DOC.png" alt="">
					    <a href="/c-111244040.html" target="_blank">《不忘初心牢记使命》党课讲稿范文（共8篇）</a>
					     </p>
					    <div class="hdoc-des"><p class="hdoc-lev">星级：<i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i>
					    <i class="iconfont current"></i></p><span class="hdoc-paper">26页</span></div>
					  </li>

					    <li>
					    <p class="s-d-name">
					    <img src="/images/DOC.png" alt="">
					    <a href="/c-111396967.html" target="_blank">对照党章党规党纪民主生活会检查材料（个人+班子共3篇）</a>
					     </p>
					    <div class="hdoc-des"><p class="hdoc-lev">星级：<i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i>
					    <i class="iconfont current"></i></p><span class="hdoc-paper">14页</span></div>
					  </li>

					    <li>
					    <p class="s-d-name">
					    <img src="/images/DOC.png" alt="">
					    <a href="/c-111398269.html" target="_blank">主题教育对照“四个对照、四个找一找”个人剖析对照检查材料及整改措施</a>
					     </p>
					    <div class="hdoc-des"><p class="hdoc-lev">星级：<i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i>
					    <i class="iconfont current"></i></p><span class="hdoc-paper">3页</span></div>
					  </li>

					    <li>
					    <p class="s-d-name">
					    <img src="/images/DOC.png" alt="">
					    <a href="/c-2831114.html" target="_blank">【定稿】广告牌制作安装设置项目投标书_投标书范本</a>
					     </p>
					    <div class="hdoc-des"><p class="hdoc-lev">星级：<i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i><i class="iconfont current"></i>
					    <i class="iconfont current"></i></p><span class="hdoc-paper">60页</span></div>
					  </li>

				 </ul>
				</div>
			</div>
		</div>
	</div>
</div>
<%include footer.ejs %>