<%include header.ejs %>
<div class="supsucess">
	<div class="success">
		<p class="success-title">
			<i class="sup-icon fn-left"></i>
			恭喜您，注册成功！</p>
        <div class="sup-area">
			<p class="sup-content "><span class="sup-color">您的帐号未设置安全保护,</span>请点击以下链接设置：</p>
            <p class=""><a href="/user/pwdprotect/" class="sup-link" target="_blank">1.设置密保</a> (用于找回密码)</p>
            <p class=""><a href="/user/mobile_bind/" class="sup-link" target="_blank">2.绑定手机</a> (用于找回密码及相关申诉，防止帐号被盗)</p>
            <p class=""><a href="/user/email_bind/" class="sup-link" target="_blank">3.绑定邮箱</a> (用于找回密码及相关申诉，防止帐号被盗)</p>
        </div>
	</div>
</div>
<%include footer.ejs %>